body {
  margin:0;
  background-color:#f7f7f7;
}

H1 {
  color:#939b9e;
  font-family: Verdana;
  text-align: center;

}

.boxes_container {
  float:left;
  width:20%;
  margin:0 2% 0 2%;
}

.update_boxes {
  padding:10% 0 9% 0;
  margin: 0 0 4% 0;
  text-align: center;
  background-color: white;
}

.last_update_box {
  padding:10% 0 9% 0;
  margin: 0;
  text-align: center;
  border-width: 5px;
  background-color: white;
}

.daily_cases_container {
  float:left;
  width:73%;
  background-color:white;
}

.daily_cases {
  background-color: white;

}

.radioitem_container {
  margin:2% 0 0 2%;
  float:left;
  padding:0
}

.radioitem_active_total {
  float:left;
}

.bot_graph_container {
  width:100%;
  margin:2%;
  float:left;
}

.active_total_container {
  float:left;
  width:48%;
}

.active_total_cases {
  margin-right:2%;
}

.sex_age_container {
    width:48%;
    float:left;
}

.sex_age {
  margin:0 2% 0 2%;
}

























/**/
